@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-ExtraBoldItalic.eot');
    src: local('Lovelace Text ExtraBold Italic'), local('LovelaceText-ExtraBoldItalic'),
        url('LovelaceText-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-ExtraBoldItalic.woff2') format('woff2'),
        url('LovelaceText-ExtraBoldItalic.woff') format('woff'),
        url('LovelaceText-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-Bold.eot');
    src: local('Lovelace Bold'), local('Lovelace-Bold'),
        url('Lovelace-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-Bold.woff2') format('woff2'),
        url('Lovelace-Bold.woff') format('woff'),
        url('Lovelace-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-Medium.eot');
    src: local('Lovelace Text Medium'), local('LovelaceText-Medium'),
        url('LovelaceText-Medium.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-Medium.woff2') format('woff2'),
        url('LovelaceText-Medium.woff') format('woff'),
        url('LovelaceText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-Italic.eot');
    src: local('Lovelace Italic'), local('Lovelace-Italic'),
        url('Lovelace-Italic.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-Italic.woff2') format('woff2'),
        url('Lovelace-Italic.woff') format('woff'),
        url('Lovelace-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-Regular.eot');
    src: local('Lovelace Text Regular'), local('LovelaceText-Regular'),
        url('LovelaceText-Regular.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-Regular.woff2') format('woff2'),
        url('LovelaceText-Regular.woff') format('woff'),
        url('LovelaceText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-ExtraLightItalic.eot');
    src: local('Lovelace Text ExtraLight Italic'), local('LovelaceText-ExtraLightItalic'),
        url('LovelaceText-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-ExtraLightItalic.woff2') format('woff2'),
        url('LovelaceText-ExtraLightItalic.woff') format('woff'),
        url('LovelaceText-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-Light.eot');
    src: local('Lovelace Light'), local('Lovelace-Light'),
        url('Lovelace-Light.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-Light.woff2') format('woff2'),
        url('Lovelace-Light.woff') format('woff'),
        url('Lovelace-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-LightItalic.eot');
    src: local('Lovelace Text Light Italic'), local('LovelaceText-LightItalic'),
        url('LovelaceText-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-LightItalic.woff2') format('woff2'),
        url('LovelaceText-LightItalic.woff') format('woff'),
        url('LovelaceText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-Light.eot');
    src: local('Lovelace Text Light'), local('LovelaceText-Light'),
        url('LovelaceText-Light.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-Light.woff2') format('woff2'),
        url('LovelaceText-Light.woff') format('woff'),
        url('LovelaceText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-ExtraBold.eot');
    src: local('Lovelace ExtraBold'), local('Lovelace-ExtraBold'),
        url('Lovelace-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-ExtraBold.woff2') format('woff2'),
        url('Lovelace-ExtraBold.woff') format('woff'),
        url('Lovelace-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-MediumItalic.eot');
    src: local('Lovelace Text Medium Italic'), local('LovelaceText-MediumItalic'),
        url('LovelaceText-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-MediumItalic.woff2') format('woff2'),
        url('LovelaceText-MediumItalic.woff') format('woff'),
        url('LovelaceText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-MediumItalic.eot');
    src: local('Lovelace Medium Italic'), local('Lovelace-MediumItalic'),
        url('Lovelace-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-MediumItalic.woff2') format('woff2'),
        url('Lovelace-MediumItalic.woff') format('woff'),
        url('Lovelace-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-Italic.eot');
    src: local('Lovelace Text Italic'), local('LovelaceText-Italic'),
        url('LovelaceText-Italic.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-Italic.woff2') format('woff2'),
        url('LovelaceText-Italic.woff') format('woff'),
        url('LovelaceText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-Medium.eot');
    src: local('Lovelace Medium'), local('Lovelace-Medium'),
        url('Lovelace-Medium.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-Medium.woff2') format('woff2'),
        url('Lovelace-Medium.woff') format('woff'),
        url('Lovelace-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-ExtraLight.eot');
    src: local('Lovelace Text ExtraLight'), local('LovelaceText-ExtraLight'),
        url('LovelaceText-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-ExtraLight.woff2') format('woff2'),
        url('LovelaceText-ExtraLight.woff') format('woff'),
        url('LovelaceText-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-ExtraBoldItalic.eot');
    src: local('Lovelace ExtraBold Italic'), local('Lovelace-ExtraBoldItalic'),
        url('Lovelace-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-ExtraBoldItalic.woff2') format('woff2'),
        url('Lovelace-ExtraBoldItalic.woff') format('woff'),
        url('Lovelace-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-ExtraBold.eot');
    src: local('Lovelace Text ExtraBold'), local('LovelaceText-ExtraBold'),
        url('LovelaceText-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-ExtraBold.woff2') format('woff2'),
        url('LovelaceText-ExtraBold.woff') format('woff'),
        url('LovelaceText-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-LightItalic.eot');
    src: local('Lovelace Light Italic'), local('Lovelace-LightItalic'),
        url('Lovelace-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-LightItalic.woff2') format('woff2'),
        url('Lovelace-LightItalic.woff') format('woff'),
        url('Lovelace-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-ExtraLight.eot');
    src: local('Lovelace ExtraLight'), local('Lovelace-ExtraLight'),
        url('Lovelace-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-ExtraLight.woff2') format('woff2'),
        url('Lovelace-ExtraLight.woff') format('woff'),
        url('Lovelace-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-Regular.eot');
    src: local('Lovelace Regular'), local('Lovelace-Regular'),
        url('Lovelace-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-Regular.woff2') format('woff2'),
        url('Lovelace-Regular.woff') format('woff'),
        url('Lovelace-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-ExtraLightItalic.eot');
    src: local('Lovelace ExtraLight Italic'), local('Lovelace-ExtraLightItalic'),
        url('Lovelace-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-ExtraLightItalic.woff2') format('woff2'),
        url('Lovelace-ExtraLightItalic.woff') format('woff'),
        url('Lovelace-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-Bold.eot');
    src: local('Lovelace Text Bold'), local('LovelaceText-Bold'),
        url('LovelaceText-Bold.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-Bold.woff2') format('woff2'),
        url('LovelaceText-Bold.woff') format('woff'),
        url('LovelaceText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelace';
    src: url('Lovelace-BoldItalic.eot');
    src: local('Lovelace Bold Italic'), local('Lovelace-BoldItalic'),
        url('Lovelace-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lovelace-BoldItalic.woff2') format('woff2'),
        url('Lovelace-BoldItalic.woff') format('woff'),
        url('Lovelace-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('LovelaceText-BoldItalic.eot');
    src: local('Lovelace Text Bold Italic'), local('LovelaceText-BoldItalic'),
        url('LovelaceText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('LovelaceText-BoldItalic.woff2') format('woff2'),
        url('LovelaceText-BoldItalic.woff') format('woff'),
        url('LovelaceText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

